<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Welcome to Tomcat</display-name>
  <description>
     Welcome to Tomcat
  </description>
  <servlet>
    <servlet-name>ServletDemo01</servlet-name>
    <servlet-class>xmren.ServletDemo01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo01</servlet-name>
    <url-pattern>/ServletDemo01</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletDemo02</servlet-name>
    <servlet-class>xmren.ServletDemo02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo02</servlet-name>
    <url-pattern>/ServletDemo02</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test11</display-name>
    <servlet-name>Test11</servlet-name>
    <servlet-class>xmren.Test11</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test11</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test12</display-name>
    <servlet-name>Test12</servlet-name>
    <servlet-class>xmren.Test12</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test12</servlet-name>
    <url-pattern>/Test12</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test13</display-name>
    <servlet-name>Test13</servlet-name>
    <servlet-class>xmren.Test13</servlet-class>
    <init-param>
      <description></description>
      <param-name>name</param-name>
      <param-value>xmren</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>password</param-name>
      <param-value>123456</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test13</servlet-name>
    <url-pattern>/Test13</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test14</display-name>
    <servlet-name>Test14</servlet-name>
    <servlet-class>xmren.Test14</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test14</servlet-name>
    <url-pattern>/Test14</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test15</display-name>
    <servlet-name>Test15</servlet-name>
    <servlet-class>xmren.Test15</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test15</servlet-name>
    <url-pattern>/Test15</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test16</display-name>
    <servlet-name>Test16</servlet-name>
    <servlet-class>xmren.Test16</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test16</servlet-name>
    <url-pattern>/Test16</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test17</display-name>
    <servlet-name>Test17</servlet-name>
    <servlet-class>xmren.Test17</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test17</servlet-name>
    <url-pattern>/Test17</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test18</display-name>
    <servlet-name>Test18</servlet-name>
    <servlet-class>xmren.Test18</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test18</servlet-name>
    <url-pattern>/Test18</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test19</display-name>
    <servlet-name>Test19</servlet-name>
    <servlet-class>xmren.Test19</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test19</servlet-name>
    <url-pattern>/Test19</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test20</display-name>
    <servlet-name>Test20</servlet-name>
    <servlet-class>xmren.Test20</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test20</servlet-name>
    <url-pattern>/Test20</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test21</display-name>
    <servlet-name>Test21</servlet-name>
    <servlet-class>xmren.Test21</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test21</servlet-name>
    <url-pattern>/Test21</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test22</display-name>
    <servlet-name>Test22</servlet-name>
    <servlet-class>xmren.Test22</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test22</servlet-name>
    <url-pattern>/Test22</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test24</display-name>
    <servlet-name>Test24</servlet-name>
    <servlet-class>xmren.Test24</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test24</servlet-name>
    <url-pattern>/Test24</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test25</display-name>
    <servlet-name>Test25</servlet-name>
    <servlet-class>xmren.Test25</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test25</servlet-name>
    <url-pattern>/Test25</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test26</display-name>
    <servlet-name>Test26</servlet-name>
    <servlet-class>xmren.Test26</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test26</servlet-name>
    <url-pattern>/Test26</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test27</display-name>
    <servlet-name>Test27</servlet-name>
    <servlet-class>xmren.Test27</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test27</servlet-name>
    <url-pattern>/Test27</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test28</display-name>
    <servlet-name>Test28</servlet-name>
    <servlet-class>xmren.Test28</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test28</servlet-name>
    <url-pattern>/Test28</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test29</display-name>
    <servlet-name>Test29</servlet-name>
    <servlet-class>xmren.Test29</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test29</servlet-name>
    <url-pattern>/Test29</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test30</display-name>
    <servlet-name>Test30</servlet-name>
    <servlet-class>xmren.Test30</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test30</servlet-name>
    <url-pattern>/Test30</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test31</display-name>
    <servlet-name>Test31</servlet-name>
    <servlet-class>xmren.Test31</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test31</servlet-name>
    <url-pattern>/Test31</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test32</display-name>
    <servlet-name>Test32</servlet-name>
    <servlet-class>xmren.Test32</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test32</servlet-name>
    <url-pattern>/Test32</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test33</display-name>
    <servlet-name>Test33</servlet-name>
    <servlet-class>xmren.Test33</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test33</servlet-name>
    <url-pattern>/Test33</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test34</display-name>
    <servlet-name>Test34</servlet-name>
    <servlet-class>xmren.Test34</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test34</servlet-name>
    <url-pattern>/Test34</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test35</display-name>
    <servlet-name>Test35</servlet-name>
    <servlet-class>xmren.Test35</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test35</servlet-name>
    <url-pattern>/Test35</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test36</display-name>
    <servlet-name>Test36</servlet-name>
    <servlet-class>xmren.Test36</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test36</servlet-name>
    <url-pattern>/Test36</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test37</display-name>
    <servlet-name>Test37</servlet-name>
    <servlet-class>xmren.Test37</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test37</servlet-name>
    <url-pattern>/Test37</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test38</display-name>
    <servlet-name>Test38</servlet-name>
    <servlet-class>xmren.Test38</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test38</servlet-name>
    <url-pattern>/Test38</url-pattern>
  </servlet-mapping>
</web-app>